In [1]:
#distancias de cada origen a cada destino:
import pandas as pd 
estaciones_csv = pd.read_csv("estaciones_bicis .csv")
estaciones_csv.head()

,ID,NUMERO,NOMBRE,DIRECCION,BARRIO,COMUNA,EMPLAZAMIENTO,ANCLAJES,QUEDA ABIERTA,Latitud,Longitud
0,202,1,FACULTAD DE DERECHO,"2120 Figueroa Alcorta, Pres. Av.",RECOLETA,COMUNA 2,VEREDA,30.0,1,-34.5842,-58.3905
1,2,2,RETIRO I,"Ramos Mejia, Jose Maria, Dr. Av. & Del Liberta...",RETIRO,COMUNA 1,PLAZA ABIERTA,36.0,1,-34.5927,-58.3751
2,3,3,ADUANA,Moreno & Azopardo,MONSERRAT,COMUNA 1,VEREDA,20.0,1,-34.6112,-58.3696
3,4,4,PLAZA ROMA,Lavalle & Bouchard,SAN NICOLAS,COMUNA 1,CALZADA,20.0,1,-34.6018,-58.3691
4,5,5,PLAZA ITALIA,2601 Sarmiento Av.,PALERMO,COMUNA 14,VEREDA,42.0,1,-34.5808,-58.4204

In [2]:
mes = pd.read_csv("febrero_dataset.csv")
mes.head()

,Id_recorrido,duracion_recorrido,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,id_estacion_destino,nombre_estacion_destino,id_usuario,género
0,17339621BAEcobici,"5,697",2023-02-25 15:17:19,33BAEcobici,033 - Facultad de Medicina,169BAEcobici,169 - FACULTAD DE PSICOLOGIA,861265BAEcobici,MALE
1,17176001BAEcobici,307,2023-02-08 07:51:20,248BAEcobici,346 - Plaza Zapiola,257BAEcobici,264 - Plaza Marcos Sastre,181148BAEcobici,FEMALE
2,17323598BAEcobici,354,2023-02-23 21:50:33,200BAEcobici,200 - AUSTRIA Y FRENCH,30BAEcobici,030 - Peña,870951BAEcobici,MALE
3,17269997BAEcobici,477,2023-02-17 12:04:25,236BAEcobici,254 - Plaza Rafael Hernandez,230BAEcobici,259 - PLAZA CASTELLI,464674BAEcobici,FEMALE
4,17184673BAEcobici,"1,778",2023-02-08 20:06:20,130BAEcobici,130 - RETIRO II,164BAEcobici,164 - FACULTAD DE INGENIERIA,702678BAEcobici,MALE

In [3]:
''' la idea es que de cada viaje de marzo se calcule la distancia entre estaciones. para
eso se agregarian a cada viaje, las coordenadas de origen y las coordenadas de salida, y una columna con la distancia entre medio'''

' la idea es que de cada viaje de marzo se calcule la distancia entre estaciones. para\neso se agregarian a cada viaje, las coordenadas de origen y las coordenadas de salida, y una columna con la distancia entre medio'

In [4]:
def crearFormatID(fila):
    #La funcion devuelve la cadena concatenada de el indice con 3 cifras y el nombre
    id = str(fila[1]).zfill(3)
    return f"{str(id)} - {str(fila[2])}"
estaciones_csv["FormatId"] = estaciones_csv.apply(crearFormatID, axis=1)
estaciones_csv.head()

,ID,NUMERO,NOMBRE,DIRECCION,BARRIO,COMUNA,EMPLAZAMIENTO,ANCLAJES,QUEDA ABIERTA,Latitud,Longitud,FormatId
0,202,1,FACULTAD DE DERECHO,"2120 Figueroa Alcorta, Pres. Av.",RECOLETA,COMUNA 2,VEREDA,30.0,1,-34.5842,-58.3905,001 - FACULTAD DE DERECHO
1,2,2,RETIRO I,"Ramos Mejia, Jose Maria, Dr. Av. & Del Liberta...",RETIRO,COMUNA 1,PLAZA ABIERTA,36.0,1,-34.5927,-58.3751,002 - RETIRO I
2,3,3,ADUANA,Moreno & Azopardo,MONSERRAT,COMUNA 1,VEREDA,20.0,1,-34.6112,-58.3696,003 - ADUANA
3,4,4,PLAZA ROMA,Lavalle & Bouchard,SAN NICOLAS,COMUNA 1,CALZADA,20.0,1,-34.6018,-58.3691,004 - PLAZA ROMA
4,5,5,PLAZA ITALIA,2601 Sarmiento Av.,PALERMO,COMUNA 14,VEREDA,42.0,1,-34.5808,-58.4204,005 - PLAZA ITALIA

In [5]:
distanciaEntreColumnas = pd.DataFrame()

In [6]:
import unicodedata
def procesar_string(input_string):
    # Convertir a mayúsculas
    input_string = input_string.upper()
    # Eliminar tildes
    input_string = ''.join((c for c in unicodedata.normalize('NFD', input_string) if unicodedata.category(c) != 'Mn'))
    input_string.strip()
    input_string = input_string.replace("-", " - ")
    return input_string
def getLatitud(estacion):
    #print(estacion)
    return latitudEstaciones.get(estacion,None)
def getLongitud(estacion):
    #print(estacion)
    return longitudEstaciones.get(estacion,None)
def to_upper(nombre): 
    return nombre.upper() 
def convertir_a_entero(valor):
    if ',' in valor:
        # Eliminar la coma si está presente
        valor = valor.replace(',', '')
    # Convertir a entero
    return int(valor)

In [20]:
estaciones_csv = estaciones_csv[['FormatId','NUMERO','NOMBRE']] 
estaciones_csv['FormatId'] = estaciones_csv['FormatId']
estaciones_csv[30:40]

                       FormatId  NUMERO                 NOMBRE
30                   030 - PEÑA      30                   PEÑA
31                031 - PADILLA      31                PADILLA
32               032 - CATEDRAL      32               CATEDRAL
33   033 - FACULTAD DE MEDICINA      33   FACULTAD DE MEDICINA
34        034 - COLONIA EXPRESS      34        COLONIA EXPRESS
35        035 - INGENIERO BUTTY      35        INGENIERO BUTTY
36                  036 - MAIPU      36                  MAIPU
37  037 - CLAUDIA PIA BRAUDACCO      37  CLAUDIA PIA BRAUDACCO
38         038 - PLAZA LIBERTAD      38         PLAZA LIBERTAD
39            039 - CONGRESO II      39            CONGRESO II

In [12]:
FormatIdEstaciones = set()
for index, row in estaciones_csv.iterrows(): 
    nombre_estacion = str(row['FormatId'])
    if nombre_estacion not in FormatIdEstaciones:
        FormatIdEstaciones.add(nombre_estacion)

In [26]:
for index, row in mes.iterrows(): 
    if str(row['nombre_estacion_origen'].upper()) not in FormatIdEstaciones:
        #print( row['nombre_estacion_origen'])

AttributeError: 'DataFrame' object has no attribute 'append'

In [10]:
no_estan.sort_values('nombre_estacion_origen').iloc[:10]

                    FormatId  NUMERO               NOMBRE
0  001 - FACULTAD DE DERECHO       1  FACULTAD DE DERECHO
1             002 - RETIRO I       2             RETIRO I
2               003 - ADUANA       3               ADUANA
3           004 - PLAZA ROMA       4           PLAZA ROMA
4         005 - PLAZA ITALIA       5         PLAZA ITALIA
5        006 - PARQUE LEZAMA       6        PARQUE LEZAMA
6             007 - OBELISCO       7             OBELISCO
7             008 - CONGRESO       8             CONGRESO
8     009 - PARQUE LAS HERAS       9     PARQUE LAS HERAS
9           010 - MADERO UCA      10           MADERO UCA

In [11]:
distanciaEntreEstaciones['Id_recorrido'] = marzo['Id_recorrido']
distanciaEntreEstaciones['estacion_origen'] = marzo['nombre_estacion_origen'].apply(procesar_string)
distanciaEntreEstaciones['estacion_destino'] = marzo['nombre_estacion_destino'].apply(procesar_string) 
distanciaEntreEstaciones['duracion_recorrido'] = marzo['duracion_recorrido'].apply(convertir_a_entero)

distanciaEntreEstaciones['latitud_origen'] = distanciaEntreEstaciones['estacion_origen'].apply(getLatitud)
distanciaEntreEstaciones['longitud_origen'] = distanciaEntreEstaciones['estacion_origen'].apply(getLongitud)
distanciaEntreEstaciones['latitud_destino'] = distanciaEntreEstaciones['estacion_destino'].apply(getLatitud)
distanciaEntreEstaciones['longitud_destino'] = distanciaEntreEstaciones['estacion_destino'].apply(getLongitud)
distanciaEntreEstaciones

NameError: name 'marzo' is not defined

In [ ]:
print(distanciaEntreEstaciones.latitud_origen.isnull().sum() ,
distanciaEntreEstaciones.latitud_destino.isnull().sum() )

In [ ]:
distanciaEntreEstaciones = distanciaEntreEstaciones[distanciaEntreEstaciones.latitud_origen.notna()]
distanciaEntreEstaciones = distanciaEntreEstaciones[distanciaEntreEstaciones.latitud_destino.notna()]
#distanciaEntreEstaciones le quedaron 9120 filas

In [ ]:
from math import radians, sin, cos, sqrt, atan2

def haversine_distance(lat1, lon1, lat2, lon2):
    # Convertir las coordenadas de grados a radianes
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])

    # Calcular las diferencias de latitud y longitud
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Calcular la distancia utilizando la fórmula de haversine
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    # Radio de la Tierra en kilómetros
    radius = 6371.0

    # Calcular la distancia
    distance = radius * c

    return distance

# Ejemplo de uso
lat_origen = 40.7128
lon_origen = -74.0060
lat_destino = 34.0522
lon_destino = -118.2437

distancia = haversine_distance(lat_origen, lon_origen, lat_destino, lon_destino)
print(f"La distancia entre los puntos es: {distancia:.2f} km")

In [ ]:
distanciaEntreEstaciones['distancia_de_viaje'] = distanciaEntreEstaciones.apply(lambda fila: haversine_distance(
    fila["latitud_origen"], fila["longitud_origen"], fila["latitud_destino"], fila["longitud_destino"]), axis=1)
distanciaEntreEstaciones

In [ ]:
distanciaEntreEstaciones.to_csv("distancia_de_viaje_febrero.csv", index = False)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt 
plt.figure(figsize=(12,12))
sns.distplot(distanciaEntreEstaciones['distancia_de_viaje'])