In [45]:
import pandas as pd

ModuleNotFoundError: No module named 'seaborn'

In [23]:
estaciones = pd.read_csv("estaciones_bicis .csv")
marzo = pd.read_csv("marzo_dataset .csv")
febrero = pd.read_csv("febrero_dataset.csv")
estaciones.head()

,ID,NUMERO,NOMBRE,DIRECCION,BARRIO,COMUNA,EMPLAZAMIENTO,ANCLAJES,QUEDA ABIERTA,Latitud,Longitud
0,202,1,FACULTAD DE DERECHO,"2120 Figueroa Alcorta, Pres. Av.",RECOLETA,COMUNA 2,VEREDA,30.0,1,-34.5842,-58.3905
1,2,2,RETIRO I,"Ramos Mejia, Jose Maria, Dr. Av. & Del Liberta...",RETIRO,COMUNA 1,PLAZA ABIERTA,36.0,1,-34.5927,-58.3751
2,3,3,ADUANA,Moreno & Azopardo,MONSERRAT,COMUNA 1,VEREDA,20.0,1,-34.6112,-58.3696
3,4,4,PLAZA ROMA,Lavalle & Bouchard,SAN NICOLAS,COMUNA 1,CALZADA,20.0,1,-34.6018,-58.3691
4,5,5,PLAZA ITALIA,2601 Sarmiento Av.,PALERMO,COMUNA 14,VEREDA,42.0,1,-34.5808,-58.4204

In [21]:
print(len(estaciones))
print(estaciones["EMPLAZAMIENTO"].unique())
estaciones.describe()

471
['VEREDA' 'PLAZA ABIERTA' 'CALZADA' 'PLAZOLETA' 'PLAZA CERRADA'
 'VEREDA/dentro del ministerio' 'PLAZA']

,ID,NUMERO,ANCLAJES,QUEDA ABIERTA,Latitud,Longitud
count,471.000000,471.000000,469.000000,471.000000,471.000000,471.000000
mean,260.628450,204.095541,18.287846,0.912951,-34.603935,-58.431409
std,149.186874,115.839422,4.925544,0.751496,0.028303,0.041611
min,2.000000,1.000000,6.000000,0.000000,-34.683200,-58.521700
25%,131.500000,104.500000,16.000000,1.000000,-34.623250,-58.464900
50%,263.000000,206.000000,20.000000,1.000000,-34.604800,-58.432800
75%,387.500000,307.000000,20.000000,1.000000,-34.585400,-58.397050
max,519.000000,400.000000,48.000000,3.000000,-34.541400,-58.355600

In [24]:
marzo.head()

,Id_recorrido,duracion_recorrido,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,id_estacion_destino,nombre_estacion_destino,id_usuario,género
0,17415328BAEcobici,520,2023-03-04 15:17:55,130BAEcobici,130 - RETIRO II,448BAEcobici,393 - Barrio 31,444458BAEcobici,FEMALE
1,17599063BAEcobici,847,2023-03-22 16:32:46,440BAEcobici,142 - ARMENIA,58BAEcobici,058 - Ministro Carranza,711954BAEcobici,OTHER
2,17575845BAEcobici,"2,084",2023-03-20 19:23:56,94BAEcobici,094 - GÚZMAN,236BAEcobici,254 - Plaza Rafael Hernandez,964367BAEcobici,MALE
3,17665972BAEcobici,476,2023-03-29 13:23:15,158BAEcobici,158 - VILLARROEL,206BAEcobici,159 - Fitz Roy & Gorriti,47678BAEcobici,FEMALE
4,17425224BAEcobici,"1,136",2023-03-06 08:33:28,116BAEcobici,116 - HOSPITAL ALEMÁN,114BAEcobici,114 - DELLA PAOLERA,2540BAEcobici,MALE

In [48]:
print(min(marzo["duracion_recorrido"]))
marzo.describe()

1,000

,Id_recorrido,duracion_recorrido,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,id_estacion_destino,nombre_estacion_destino,id_usuario,género
count,10000,10000,10000,10000,10000,10000,10000,10000,9956
unique,10000,2713,9965,318,318,317,317,7953,3
top,17415328BAEcobici,608,2023-03-20 12:06:10,175BAEcobici,147 - Constitución,175BAEcobici,147 - Constitución,195874BAEcobici,MALE
freq,1,17,2,148,148,120,120,7,6047

In [ ]:
print(febrero.describe())
febrero.head()